* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.nav {
    height: 30px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-ops p{
    display: inline;
    margin-left: 10px;
}
.nav-ops {
    width: 70%;
    font-size: small;
}
.nav-deals {
    display: flex;
}
.nav-deals p{
    display: inline;
    margin: 10px;
    margin-right: 10px;
}
.S_P {
    color: #1a42bd;
}
.fa-cart-shopping {
    color: #000000;
    margin-top: 4%;
}
.fa-solid {
    color: #707070;
    margin-top: 4%;
}
.S_W_M {
    font-size: small;
}
.navbar{
    height: 80px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 63px;
    width: 150px;
}
.logo {
    background-image: url(eBay.images/eBlay-logo.jpeg);
    background-size: cover;
    justify-content: center;
    height: 63px;
    width: 150px;
}
.border-2 {
    border: 1.5px solid rgb(231, 218, 218);
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid rgb(231, 218, 218);
}
.shop_and_category {
    color: #707070;
    align-items: center;
    font-size: small;
}
.add-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 45px;
    flex-direction: row-reverse;
    border-radius: 40px;
    border: 2px solid black;
}
.search-select {
    color: #707070;
    width: 150px;
    text-align: center;
    /* border: none; */
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1.8 solid rgb(224, 213, 213);
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.Search {
    height: 45px;
    width: 170px;
    color: white;
    font-size: medium;
    font-size: 700;
    background-color: #3665f3;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
}
.Search:hover {
    background-color: #0d21ba;
    transition: 1s;
}
.Advanced {
    color: #707070;
    align-items: center;
    font-size: 0.84rem;
    /* font-weight: bold; */
}
.Advanced:hover {
    color: #1aa0ff;
}
.panil {
    height: 40px;
    display: flex;
    color: #555555;
    align-items: center;
    justify-content: space-evenly;
}
.panil-ops p {
    display: inline;
    font-size: small;
    margin-left: 10px;
    margin: 10px;
}
.ops-deals {
    color: #555555;
}
.ops-deals:hover {
    color: #1a42bd;
    display: inline;
    border: none;
}
.H-S {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_section_img {
    height: 490px;
    width: 95%;
}
.hero-section {
    background-image: url(eBay.images/banner4.jpeg);
    background-size: cover;
    margin: 6% 3% 3% 3%;
    height: 490px;
    width: 94%;
    border-radius: 15px;
}
.Christmas-msg {
    color: #ffffffff;
    padding-top: 10%;
    margin-left: 3%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px red, 0 0 1em #a31c1c, 0 0 0.2em #a31c1c;
}
.Christmas-msg:hover {
    color: #a31c1c;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em #ffffff, 0 0 0.2em #ffffff;
    transition: 1s;
}
.shopping-cart-msg {
    color: #ffffffff;
    margin-left: 5%;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px red, 0 0 1em #a31c1c, 0 0 0.2em #a31c1c;
}
.shopping-cart-msg:hover {
    color: #a31c1c;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em #ffffff, 0 0 0.2em #ffffff;
    transition: 1s;
}
.S_N_H_M {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.S_N {
  background-color: #191919;
  height: 120px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}
.big-msg {
  color: #ffffff;
  font-size: xx-large;
  font-weight: 700;
}
.small-msg {
  color: #ffffff;
}
.Shop-now {
  height: 45px;
  width: 130px;
  border: none;
  margin-left: 50%;
  background-color: #ffffff;
  color: #191919;
  font-size: medium;
  font-weight: 700;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.Shop-now:hover {
    background-color: #bababa;
    transition: 0.85s;
}
.shop-msg-1 {
    color: #191919;
    margin-left: 4%;
    margin-top: 4%;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 2%;
}
.S_N{
    background-color: #003c66;
    height: 120px;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.big-msg{
    color: #D3EFFE;
    font-size:x-large;
    font-weight: 19%;
}
.small-msg{
    color: #D3EFFE;
}
.Shop-now{
    height: 45px;
    width: 130px;
    margin-left: 50%;
    background-color: #D3EFFE;
    color: #003c66;
    font-size:medium;
    font-weight: 700;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}
.shop-msg-1{
    color: #191919;
    margin-left: 4%;
    margin-top: 4%;
    font-size:x-large;
    font-weight: 19%;
    margin-bottom: 2%;
}
.shop-msg-2{
    margin-left: 60%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.shop-msg-2 :hover{
    text-decoration:underline;
}
.S-H {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-img:hover {
    background-color: #f3f2f2;
    border-radius: 50%;
    transition: opacity 0.5s ease;
    filter: grayscale(29%);
    transition: transform 0.3s ease;
    transform: scale(1.1); 
}
.box {
    background-size: cover;
    background-color: #f3f2f2;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}
.box-img {
    border-radius: 50%;
    background-size: cover;
    height: 170px;
    width: 170px;
    transition: filter 0.5s ease;
    transform: scale(1s) ease;
}
.par {
    font-size: medium;
    font-weight: 700;
    margin-top: 14px;
    text-align: center;
}
.par:hover {
    color: #5c5c5c;
    transition: 0.1s;
}
.shop-msg-2 {
    margin-left: 90%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.hero-section-2 {
    margin-top: 5%;
    margin-left: 4%;
    height: 400px;
    width: 92%;
    border-radius: 20px;
    display: flex;
    background-color: #055743;
}
.hero-box {
    height: 395px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text {
    height: 170px;
    width: 460px;
    line-height: 3rem;
}
.hero-heading2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f7fdfb;
}
.hero-detail {
    font-size: 1.1rem;
    color: #f7fdfb;
}
.hero-btn {
    height: 40px;
    width: 110px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #f7fdfb;
    color: #055743;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroImage {
    height: 550px;
    width: 95%;
    background-size: cover;
}
.hero-section3 {
    margin-top: 5%;
    margin-left: 4%;
    height: 400px;
    width: 92%;
    border-radius: 20px;
    display: flex;
    background-color: #003c66;
}
.hero-box{
    height: 395px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text {
    height: 170px;
    width: 460px;
    line-height: 3rem;
}
.hero-heading3 {
    font-size: 2rem;
    font-weight: bold;
    color: #D3EFFE;
}
.hero-detail3 {
    font-size: 1.1rem;
    color: #D3EFFE;
}
.hero-btn3 {
    height: 40px;
    width: 135px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #D3EFFE;
    color: #003c66;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroImage3 {
    height: 400px;
    width: 95%;
    background-size: cover;
}
.section-shop {
    display: block;
}
.deal-heading {
    margin-top: 3%;
    margin-left: 4%;
    line-height: 2rem;
}
.deal-heading1 {
    font-size: 1.6rem;
    color: #000000;
}
.deal-heading2 {
    font-size: 1rem;
    color: #555555;
}
.item-shop {
    display: flex;
}
.item {
    height: 330px;
    width: 17%;
    /* border: 1px solid black; */
    margin: 2% 1% 1% 1%;
}
.item-img {
    height: 270px;
    width: 269px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
}
.item-img:hover {
    transform: scale(1.1);
    transition: 0.1s;
    filter: grayscale(29%);
}
.move-icon {
    margin-right: 4%;
    margin-top: 4%;
}
.img-icon {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-icon:hover {
    background-color: #e5e5e5;
}
.item-text {
    margin-top: 4%;
}
.item-detail {
    font-size: 1rem;
    color: #000000;
}
.item-detail:hover {
    text-decoration: underline;
}
.item-price1 {
    font-size: 0.85rem;
    font-weight: bold;
    color: #000000;
}
.item-price2 {
    font-size: 0.85rem;
    font-weight: bold;
    color: #5c5c5c;
    text-decoration: line-through;
}
.footer-Detail {
    display: flex;
    align-items: block;
    justify-content: space-evenly;
    height: 400px;
    line-height: 2rem;
    margin-top: 5%;
    border-top: 1px solid #bababa;
    font-size: 0.6rem;
    background-color: #F7F7F7;
    color: #707070;
}
.Footer-Heading {
    /* margin-top: 25%; */
    font-size: 0.70rem;
    font-weight: bold;
    color: #191919;
}
ul {
    margin-top: 3%;
}
ul h3:hover {
    text-decoration: underline;
}
.Footer-Heading-2 {
    font-size: 0.70rem;
    font-weight: bold;
    color: #191919;
}
.Footer-Heading-2:hover {
    text-decoration: none;
}
.footBox {
    border: 1px solid #707070;
    height: 35px;
    width: 230px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.last-Box-img {
    background-size: cover;
    height: 20px;
    width: 35px;
}
.last-text {
    font-size: 1rem;
}
.lastBoxicon {
    font-size: 1rem;
}
.fa-brands {
    font-size: 1rem;
    color: #707070;
}
.copy-rightTexT {
    font-size: 0.75rem;
    padding-top: 6%;
    padding-bottom: 3%;
    padding-left: 5%;
    color: #707070;
    background-color: #F7F7F7;
}
.copy-rightTexT-2 {
    color: #003AA5;
    text-decoration: underline;
}